.cef_data_list { position: relative; width: 744px; margin-bottom: 20px; font-family: Arial, Helvetica, sans-serif; }
.cef_data_list .cef_list_wrapper { border: 1px solid #ccc; }
.cef_data_list .cef_data_table { margin: 0; table-layout: fixed; }
.cef_data_list th { padding: 5px; border-bottom: none; background: #b31cbd; color: #fff; }
.cef_data_list th:first-child,
.cef_data_list td:first-child { width: 45px; text-align: center; }
.cef_data_list th:nth-child(2) { width: 235px; }
.cef_data_list th:nth-child(3) { width: 132px; }
.cef_data_list th:nth-child(4) { width: 330px; }
.cef_data_list tbody tr { height: 60px; cursor: pointer; border-bottom: 1px solid #eee; }
.cef_data_list tr:hover,
.cef_data_list tr.active { background: #ca9de0; }
.cef_data_list tr td { padding: 5px; }
.cef_data_list tr td:first { text-align: center; }
.cef_data_list .cef_sort { position: relative; cursor: pointer; user-select: none; }
.cef_data_list .cef_sort:hover { background: #710d77; }
.cef_data_list .cef_sort:before { content: ''; position: absolute; right:10px; top: 10px; border-left: 5px solid transparent; border-right: 5px solid transparent; border-bottom: 5px solid rgba( 255, 255, 255, 0.5 ); }
.cef_data_list .cef_sort:after { content: ''; position: absolute; right: 10px; top: 18px; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid rgba( 255, 255, 255, 0.5 ); }
.cef_data_list .cef_sort[order="ASC"]:before { border-bottom-color: #fff; }
.cef_data_list .cef_sort[order="DESC"]:after { border-top-color: #fff; }
.cef_data_list .cef_pages { padding: 10px; }
.cef_data_list .cef_pages span { margin-right: 16px; }
.cef_data_list .cef_pages_selector { height: 29px; width: 61px; background: #fff; }
.cef_data_list .cef_single_title { padding: 0 20px; text-align: center; font-weight: bold; font-size: 25px; }
.cef_data_list .cef_single_field { text-align: center; }
.cef_data_list .cef_single_field p { margin-bottom: 5px; }
.cef_data_list .cef_single_field p.cef_field_label { font-weight: bold; font-size: 18px; }
.cef_data_list .cef_single_field p:not(.cef_field_label) { min-height: 30px; border: 1px solid #000; }
.cef_data_list .cef_single_field p:not(.cef_field_label):not(.cef_message) { padding: 0 20px; line-height: 30px; }
.cef_data_list .cef_single_field p.cef_message { text-align: left; padding: 10px; }
.cef_data_list .cef_loader { position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba( 255, 255, 255, 0.4 ); }
.cef_data_list .cef_loader .cef_spinner { position: absolute; top: 50%; left: 50%; width: 120px; height: 120px; margin: -60px 0 0 -60px; border: 16px solid #f3f3f3; border-radius: 50%; border-top: 16px solid #9932cc; -webkit-animation: spin 2s linear infinite; animation: spin 2s linear infinite; }
@-webkit-keyframes spin { 0% { -webkit-transform: rotate(0deg); } 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }
.cef_data_list .hidden { display: none; }
.cef_data_list .cef_empty_list { font-weight: bold; font-size: 25px; }