.cef_enquiry_form { position: relative; width: 500px; margin-bottom: 20px; color: #333; background: #ccc; padding: 22px; font-family: Arial, Helvetica, sans-serif; }
.cef_enquiry_form .cef_form_title { margin-bottom: 20px; text-align: center; font-weight: bold; font-size: 24px; }
.cef_enquiry_form .cef_field { margin-bottom: 20px; }
.cef_enquiry_form .cef_field label { display: block; margin-bottom: 0.5em; font-weight: bold; font-size: 20px;  }
.cef_enquiry_form .cef_field input, .cef_enquiry_form .cef_field textarea { display: block; width: 100%; padding: 13px 10px; border: 1px solid #bbb; background: #fff; color: #000000; border-radius: 3px; -webkit-border-radius: 3px; }
.cef_enquiry_form .cef_field textarea { height: 150px; resize: none; }
.cef_enquiry_form .cef_submit_button { width: 100%; padding: 20px 10px; color: #fff; background: #9932cc; font-size: 21px; text-transform: capitalize; }
.cef_enquiry_form .cef_submit_button:hover { background: #632582; }
.cef_enquiry_form .cef_result.hidden, .cef_enquiry_form .cef_loader.hidden { display: none; }
.cef_enquiry_form .cef_loader { position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba( 255, 255, 255, 0.4 ); }
.cef_enquiry_form .cef_loader .cef_spinner { position: absolute; top: 50%; left: 50%; width: 120px; height: 120px; margin: -60px 0 0 -60px; border: 16px solid #f3f3f3; border-radius: 50%; border-top: 16px solid #9932cc; -webkit-animation: spin 2s linear infinite; animation: spin 2s linear infinite; }
@-webkit-keyframes spin { 0% { -webkit-transform: rotate(0deg); } 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }
.cef_enquiry_form .cef_result { position: absolute; display: flex; align-items: center; justify-content: center; top: 0; left: 0; right: 0; bottom: 0; background-color: #fff; }
.cef_enquiry_form .cef_result_msg { width: 90%; text-align: center; }
.cef_enquiry_form .cef_result_msg p { margin-bottom: 10px; font-weight: bold; }
.cef_enquiry_form .cef_result_msg p.cef_success { color: #5b821f; }
.cef_enquiry_form .cef_result_msg p.cef_system_error { color: #cf2e2e; }
.cef_enquiry_form .cef_result_msg .cef_back { color: #333; text-decoration: underline; cursor: pointer; }
.cef_enquiry_form .cef_result_msg .cef_back:hover { color: #9932cc; }
.cef_enquiry_form .cef_error { color: #cf2e2e; font-style: italic; }